@import url('https://fonts.google.com/specimen/Roboto');
*{
    margin: 0;
}
body{
    background-color: rgb(211, 50, 50);
    width: 100%;
}
/* navigation bar */
.nav{
    background-color: black;
    opacity: .7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 35px;
    box-shadow: 5px 5px 5px rgb(139, 10, 139);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}
.nav-left{
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
.nav-left img{
    height: 40px;
    width: 500px;
    position: absolute;
    left: 200px; 
}
.nav-left span{
    margin-left: 15px;
    font-size: 30px;
    color: white; 
}
.nav-right a{
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-decoration: transparent;
    transition: 1s ease-in-out, .5s ease-in-out;
}
.nav-right a:hover{
    color: crimson;
    font-weight: 700;
    text-shadow: 1px,1px,20px cyan;
    text-decoration: underline;
    text-underline-offset: 10px;
    letter-spacing: 2px;
}
.banner img{
    top:0px;
    z-index: -1; 
    position: absolute;
    width: 1000px;
    height: 800px;
    size:cover ;
    left: 0px;
    top: 0px;
}
.texts{
    display: flex;
    justify-content: space-around;
}
.div-left h1{
    position: absolute;
    color: white; 
    width: 156px;
    height: 13px;
    left: 0px;
    top: 0px;
    white-space: nowrap;
    color: transparent;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 112px;
}
.div-left h1::before{
    content: "Snow Fest";
    position: absolute;
    width: 446px;
    height: 113px;
    left: 102px;
    top: 182px;
    color: #8d2727;
    animation: typing 8s linear infinite;
}
@keyframes typing{
    0%{
        content: "|";
    }
    7%{
        content: "S|";
    }
    13%{
        content: "Sn|";
    }
    18%{
        content: "Sno|";
    }
    24%{
        content: "Snow|";
    }
    30%{
        content: "Snow |";
    }
    36%{
        content: "Snow F|";
    }
    42%{
        content: "Snow Fe|";
    }
    48%{
        content: "Snow Fes|";
    }
    54%{
        content: "Snow Fest|";
    }
    60%{
        content: "Snow Fest";
    }
    63%{
        content: "Snow Fest|";
    }
    65%{
        content: "Snow Fes|";
    }
    68%{
        content:"Snow Fe|";
    }
    72%{
        content: "Snow F|";
    }
    75%{
        content: "Snow |";
    }
    78%{
        content: "Snow|";
    }
    82%{
        content: "Sno|";
    }
    85%{
        content: "S|";
    }
    88%{
        content: "|";
    }
    92%{
        content: "";
    }
    95%{
        content: "|";
    }
    98%{
        content: "";
    }
    100%{
        content: "|";
    }
}

.div-left span h5{
    position: absolute;
    width: 388px;
    height: 42px;
    left: 110px;
    top: 280px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    
    color: #FFFFFF;    
}
.div-left .txt{
    position: absolute;
    width: 400px;
    height: 20px;
    left: 109px;
    top: 330px;
    z-index: 1;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
.div-left .special{
    position: absolute;
width: 500px;
height: 85px;
left: 113px;
top: 400px;

background: rgba(111, 56, 56, 0.5);
}
.div-left .date{
    position: absolute;
width: 424px;
height: 40px;
left: 40px;
top: 10px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 40px;
color: #FFFFFF;
}
.div-left .place{
    position: absolute;
width: 477px;
height: 40px;
left: 40px;
top: 40px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 40px;
color: #FFFFFF;
}
.div-right h3{
    position: absolute;
width: 247px;
height: 59px;
left: 850px;
top: 220px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 59px;
text-align: center;
color: #FFFFFF;
}
.div-right button{
    position: absolute;
width: 300px;
height: 80px;
left: 850px;
top: 350px;
color: rgb(19, 16, 16);
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 45px;
line-height: 53px;
cursor: pointer;
background: #2a3c46;
border-radius: 50px;
}
.div-right img{
    position: relative;
    width: 50px;
    height: 30px;
    left: 10px;
    top: 0px;
    z-index: 4;
}
.about h1{
    position: absolute;
width: 365px;
height: 85px;
left: 113px;
top: 582px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 70px;
line-height: 85px;
color: #000000;
}
.about h1 span{
    color: cornflowerblue;
}
.about-left{
    position: absolute;
width: 466px;
height: 242px;
left: 105px;
top: 871px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 35px;
text-align: justify;

color: #000000;

}
.about-right .img7{
    position: absolute;
width: 300px;
height: 200px;
left: 850px;
top: 890px;
}
.about-right .img6{
    position: absolute;
width: 200px;
height: 100px;
left: 365px;
top: 400px;
}
.about-right .img5{
    position: absolute;
width: 90px;
height: 10px;
left: 51px;
top: 50px;
}
.booking h1{
    position: absolute;
width: 511px;
height: 85px;
left: 425px;
top: 1200px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 70px;
line-height: 85px;
color: #000000;
}
.booking span{
    color: cornflowerblue;
}
.booking img{
    position: absolute;
width: 100%;
height: 700px;
left: 0px;
top: 130px;
}
.book .book1{
    position: absolute;
width: 600px;
height: 60px;
left: 325px;
top: 1379px;
z-index: 5;

background: #FFFFFF;
border: 2px solid #C4C4C4;
border-radius: 20px;
}
.book .book2{
    position: absolute;
width: 600px;
height: 60px;
left: 325px;
top: 1479px;
z-index: 5;

background: #FFFFFF;
border: 2px solid #C4C4C4;
border-radius: 20px;
}
.book .book3{
    position: absolute;
width: 600px;
height: 60px;
left: 325px;
top: 1579px;
z-index: 5;

background: #FFFFFF;
border: 2px solid #C4C4C4;
border-radius: 20px;
}
.book .book4{
    position: absolute;
width: 600px;
height: 60px;
left: 325px;
top: 1679px;
z-index: 5;

background: #FFFFFF;
border: 2px solid #C4C4C4;
border-radius: 20px;
}
.calc .headd{
    position: absolute;
width: 164px;
height: 42px;
left: 342px;
top: 1800px;
z-index: 5;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 42px;

color: #000000;
}
.calc .uk{
    box-sizing: border-box;

position: absolute;
width: 352px;
height: 70px;
left: 341px;
top: 1850px;

background: #E7E7E7;
border: 1px solid #000000;
border-radius: 10px;
}
.calc .btn1{
    position: absolute;
width: 66px;
height: 68px;
left: 750px;
top: 1850px;

background: #FFFFFF;
border: 2px solid #C4C4C4;
border-radius: 20px;
}
.calc .btn2{
    position: absolute;
width: 66px;
height: 68px;
left: 870px;
top: 1850px;

background: #FFFFFF;
border: 2px solid #C4C4C4;
border-radius: 20px;
}
.calc .value{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 840px;
    top: 1865px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;
    
    color: #000000;
}
.calc .final{
    position: absolute;
width: 200px;
height: 50px;
left: 540px;
top: 1950px;
cursor: pointer;
background: #933b2b;
border-radius: 20px;
}
.footer{
    position: absolute;
width: 100%;
height: 280px;
left: 0px;
top: 2030px;
background: rgb(62, 58, 58);
}
.footer .final_img{
    position: absolute;
width: 166px;
height: 165px;
left: 60px;
top: 75px;
}
.footer .final_txt{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 260px;
    top: 85px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    text-align: justify;
    
    color: white;
}
.footer .identity{
    position: absolute;
width: 90px;
height: 100px;
left: 800px;
top: 30px;
column-rule-color: #6a603a;

font-family: 'Roboto';
font-style: normal;
font-weight: 380;
font-size: 22px;
line-height: 33px;
color: #6a603a;
}
.footer .cont{
    position: absolute;
    width: 90px;
    height: 110px;
    left: 560px;
    top: 10px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    text-align: justify;
    
    color: white;
}
.footer .cont2{
    position: absolute;
    width: 90px;
    height: 110px;
    left: 660px;
    top: 10px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    text-align: justify;
    
    color: white;
}